<div ng-app="trackApp">
  <h1><%= @track.name%></h1>
  <i> by <%=@user.username%>, taken by <%= @count%> users </i>
  <%= link_to 'Fork', "/tracks/#{@track.id}/fork", method: 'post'%>
  <div ng-controller="coursesCtrl">
    <input type="text" ng-model="search" placeholder="Search course">
    <ul>
        <div ng-repeat="course in courses | filter:search" class="course-box">
          <a href="{{course.url}}">{{course.name}}</a>
        </div>
    </ul>
  </div>