<div ng-app="trackApp">
  <h1><%= @track.name%></h1>
  <div ng-controller="coursesCtrl">
    <ul>
        <div ng-repeat="course in courses" class="course-box">
          <button ng-click="delete(course)"> X </button>
          <a href="{{course.url}}">{{course.name}}</a>
        </div>
    </ul>
  </div>