<div class="jumbotron jumbo-green">
  <div class="container">
    <h1>Welcome To Hagwon</h1>
    <h2>A personalized learning resource for everyone. Hagwon  offers a personalized learning dashboard that empower learners to study at their own track.</h2>
    </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Courses</h2>
      <p>You can use over 2,000 courses through Hagwon. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Tracks</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Create Your Own Track</h2>
      <p>Take control of your learning by working on the skills you choose at your own pace.</p>
      <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
  </div>

  <hr>

  <footer class="container">
   <div id="row">
      <div class="col-xs-4 col-md-4  ">
          <a href="#"> Terms of Use </a></p>
      </div>
      <div class="col-xs-4 col-md-4  ">
          <a href="#"> Privacy Notice</a>
      </div>
      <div class="col-xs-4 col-md-4  ">
          <p>© Hagwon 2015. All Right Reserved</p>
      </div>
    </div>
  </footer>
</div>