.rocket {
  color: red;
}
.star {
  color: gold;
}

.dropdown-toggle:focus, .dropdown-toggle:hover {
  background: #2c3e50 !important;
}
.dropdown-menu {
  background: #2c3e50 !important;
}

.dropdown-menu a:hover {
  background: grey !important;
}

.logo {
  width: 10em;
  padding-top: .5em;
  padding-bottom: .5em;
}

.modal-content {
  /*margin: 5em;*/
  padding: 1em;
  width: 300px !important;
}

.select_cat{
  margin-top: 3em;
  height: 29.5em !important;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.row {
  margin: 0px 0px 0px !important;
}

::-webkit-scrollbar {
    display: none;
}
.track-left {
  background: #34495e !important;
  color: white !important;
  height:40em;
  border-radius: 5px;
  padding-right: 2em;
  
}

.container-fit {
  width: 1140px !important;
}

.track_courses {
   padding: 20px !important;
   margin: 10px !important;
   font-size: 21px !important;
   font-weight: bold !important;
   line-height: 1.3em !important;
   font-weight: normal !important;
}
