.rocket {
  color: red;
}
.star {
  color: gold;
}

.dropdown-toggle:focus, .dropdown-toggle:hover {
  background: #2c3e50 !important;
}
.dropdown-menu {
  background: #2c3e50 !important;
}

.dropdown-menu a:hover {
  background: grey !important;
}

.logo {
  width: 10em;
  padding-top: .5em;   
  padding-bottom: .5em;
}

.modal-content {
  /*margin: 5em;*/
  padding: 1em;
  width: 300px !important;
}