
#title{
  width: 50%;
  float:left;
  height:20em;
  background-color: rgb(212, 106, 106);
}
#title h1 {
  border-bottom: white;
}

.track_prog{
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 2em;
}
