.jumbo-green {
  background: #2c3e50 !important;
  color: #ecf0f1 !important;
    text-shadow: 2px 2px black;

}

.navbar-default {
  background-color: #dd4814 !important;
  border-color: #bf3e11 !important;
}

.navbar a {
  color: #ecf0f1 !important;
}

.navbar a:hover {
  text-shadow: 1px 1px black;
}
