.jumbo-green {
  background: #2c3e50 !important;
  color: #ecf0f1 !important;
}

.navbar-default {
  background-color: #dd4814 !important;
  border-color: #bf3e11 !important;
}

.navbar a {
  color: #ecf0f1 !important;

}